.drug-slide.swiper-slide.js--active {
  opacity: 1;
  transform: rotate(0)translate(0%);
}

.slider-drag.js--active {
  transform: translate(-50%, -50%) scale(1);
}

.faq__item::before {
  content: '';
  position: absolute;
  inline-size: calc(100% + 10rem);
  inset-inline-start: -5rem;
  background-color: transparent;
  block-size: calc(100% + 2px);
  inset-block-start: -1px;
  transition: background-color .3s;
  z-index: -1;
}

.faq__item#displayed::before {
  background: var(--background-color--background-color-1);
}

.faq__item#displayed .heading {
  font-style: italic;
}

.faq__item#displayed .faq__icon-vertical {
  opacity: 0;
}

.faq__item#displayed .faq__details {
  margin-top: -1.75rem;
  max-height: 200px !important;
}

.footer___brand {
  background: linear-gradient(to bottom, #FFFFFF, #EAECF0);
  -webkit-background-clip: text;
  color: transparent;
}



/*.title-icon.title-icon--fade {
  opacity: 0;
}

.hero__paragraph {
  opacity: 0;
}

.button.button--fade {
  opacity: 0;
}*/

.star-rating-wrapper {
  color: #f2b01e;
  /* A nice gold color */
  font-size: 1.25rem;
  white-space: nowrap;
}

.star-rating-wrapper .star-empty {
  color: #ccc;
}



.banner-video-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  /* Essential for the Bootstrap 'ratio' class to work */
  top: 0;
  left: 0;
}

.banner-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Important: Ensures the image covers the 16x9 area without stretching */
  position: absolute;
  /* Essential for the Bootstrap 'ratio' class to work */
  top: 0;
  left: 0;
  border-radius: 10px;
  /* Inherit rounded corners from parent */
}

#hidden_gallery {
  visibility: hidden;
}

.dreams-banner-video-wrapper {
  width: 100%;
    object-fit: cover;
    /* Important: Ensures the image covers the 16x9 area without stretching */
    position: absolute;
    /* Essential for the Bootstrap 'ratio' class to work */
    top: 0;
    left: 0;
    border-radius: 10px;
    /* Inherit rounded corners from parent */
}
