
	<section  class="section section--illustration">
		<div class="illustration">
			<img src="{{ bg_image }}" loading="lazy" alt="" class="illustration__bg-image"/>
			<div class="illustration__inner">
				<div class="illustration__header"></div>
				<div class="illustration__body">
					<div class="illustration__content">
						<div class="illustration__heading">
							<span class="illustration__heading-span">{{ content.field_title}}</span>
						</div>
						<div class="paragraph paragraph--center illustration__paragraph-leter">{{ content.field_sub_title}}</div>
					</div>
				</div>
			</div>
		</div>
	</section>

