{% if title %}
  <h3>{{ title }}</h3>
{% endif %}

{% for row in view.result %}
  {%
    set row_classes = [
      'views-row',
    ]
  %}

  {% set plan = row._entity %}
  {% set index = loop.index0 %}

<div data-role="accordion-item" data-w-id="47f1475c-d263-22c2-904c-5282497f19f8"  class="faq__item">
	<div data-role="accordion-summary" class="faq__summary">
		<h3 class="heading heading--letter-norm">{{ plan.title.value }}</h3>
		<div class="faq__icon">
			<div class="faq__icon-embed w-embed">
				<svg class="faq__icon-svg" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path class="faq__icon-vertical" d="M12 5V19" stroke="#675B50" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
					<path class="faq__icon-horizontal" d="M5 12H19" stroke="#675B50" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
				</svg>
			</div>
		</div>
	</div>
	<div data-role="accordion-details" class="faq__details">
		<div class="faq__details-inner">
			<p class="paragraph paragraph--m">{{ plan.field_sub_title.value }}</p>
		</div>
	</div>
</div>
{% endfor %}

